@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('/fonts/quicksand.ttf') format('truetype');
}

@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: local('Volkhov Regular'), local('Volkhov-Regular'), url('/fonts/volkhov.ttf') format('truetype');
}

body {
	font-family: 'Quicksand',"Trebuchet MS",Trebuchet,Calibri,Tahoma,Arial,sans-serif;
	font: normal 100%;	
	margin: 0;
	color: #333;
  background-color: #eee;
}
/* selected text */
*::-moz-selection { background: #e9bbe0 none repeat scroll 0 0; }
::selection { background: #e9bbe0 none repeat scroll 0 0; }
a {
	color: #a8c;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.external {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC) center right no-repeat;
  padding-right: 13px;
}
p {
	line-height: 1.5em;
}
.post_body, p.description, .note {
  font-family: 'Volkhov', serif;
}
.note {
  color: #bbb;
}
footer {
  color: #000;
}

img {
  width: 100%;
}
header.home, .container {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 2em 0 3em;
}
header.home {
  margin-bottom: 3em;
}

h1 {
  margin-top: 2em;
  margin-bottom: 2em;
}
#posts h3, .container > h3 {
  margin-bottom: 4em;
}

h2, .description {
  margin-bottom: 0;
}
.description {
  margin: .1em;
}


h2:hover .amp_sep, h3:hover .amp_sep {
  color: #000;
}
.amp_sep {
  position: relative;
  float: left;
  width: 0;
}
h1 .amp_sep {
  font-size: 32px;
  left: -30px;
  top: -5px;
}
ul .amp_sep, h2 .amp_sep {
  top: 8px;
}
h3 .amp_sep {
  top: 5px;
}
ul .amp_sep, h2 .amp_sep, h3 .amp_sep{
  color: #999;
  left: -20px;
  font-size: 12px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.meta {
  color: #444;
  font-size: .8em;
  margin: 0;
}
.meta time {
  font-style: italic;
}

section > ul, ul {
	list-style-type:none;
	padding: 0;
  margin: 0;
}

#tagcloud {
  font-size: 1.2em;
}

footer {
  bottom: 0;
	border-top: 1px dotted #000;
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
  margin-top: 4em;
}

.underline {
  text-decoration: underline;
}
