<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>$title$</title>
    <meta name="author" content="Petar Radošević" />
    <meta name="description" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="keywords" content="" />

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic|Droid+Sans+Mono">
    <link rel="stylesheet" type="text/css" media="all" href="/css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
    <link href="http://feeds.feedburner.com/wunki" rel="alternate" title="wunki" type="application/atom+xml" />
  </head>

  <body>
    <header class="home">
      <h1 class="ribbon"><a href="/" title="Go back to table of contents">Wunki</a></h1>
      <div class="ribbon-corner-left"></div>
    </header>
    $body$
    <footer>
      <p>You can contact me at <strong>&#112;&#101;&#116;&#97;&#114;&#64;wunki.org</strong> | 
      <a href="/static/petar-radosevic.vcf" title="About">About</a> | 
      <a href="https://github.com/wunki" title="My Github profile">Github</a> |
      <a href="http://twitter.com/wunki_" title="My Twitter">Twitter</a> | 
      <a href="/static/pgp.txt" title="My Pretty Good Privacy">My PGP</a> | 
      <a href="http://feeds.feedburner.com/wunki" title="ATOM Feed">RSS</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/static/js/wunki.ui.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-3439557-1");
          pageTracker._trackPageview();
        } catch(err) {}
    </script> 
  </body>
</html>
