<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta name="author" content="Petar Radošević">
    <meta name="description" content="$description$">
    <meta name="keywords" content="$keywords$">

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/screen.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <script type="text/javascript" src="http://use.typekit.com/woz6uco.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="alternate" type="application/rss+xml" title="Wunki - A few bytes of Petar Radosevic" href="http://www.wunki.org/rss.xml">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  </head>

  <body class="$bodyclass$">
    <header class="home">
      <h1><a href="/index.html" title="Go back to the homepage">Wunki</a></h1>
    </header>
    <div class="container">
    $body$
    <footer>
      <p><a href="/about.html" title="About">about</a> &middot;
      <a href="http://twitter.com/wunki" title="My Twitter">twitter</a> &middot;
      <a href="https://github.com/wunki" title="My Github profile">github</a> &middot;
      <a href="/rss.xml" title="Feed">rss</a> &middot;
      <a href="/files/wunki.asc" title="My Pretty Good Privacy">pgp</a> &middot;
      <a href="mailto: &#112;&#101;&#116;&#097;&#114;&#064;&#119;&#117;&#110;&#107;&#105;&#046;&#111;&#114;&#103;" title"Send me an email">email</p>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="/javascripts/wunki.ui.js"></script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e424ea6613f5d7775000003');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
