<div class="about">
  <p>Wunki is a few bits on the web placed there by Petar Radošević. A place
  with ramblings about programming, server setups and personal
  experiences. You can either find the posts a few pixels down or read more
  <a href="/about.html" title="Read more about wunki">about me</a>.
  </p>
</div>

<div id="posts">
  <h1>Recent Posts</h1>
  <ol id="toc" >
    $posts$
  </ol>
  <!-- <p><a href="/posts.html">All posts&hellip;</a></p>

  <h1>All Tags</h1>
  <div>
    $tagcloud$
  </div>
  -->
</div>

