<div id="posts">
  <h1>Recent <span class="underline">posts</span></h1>
  <ul id="blog">
    $blogposts$
  </ul>
  <h3><a href="/posts.html">See all posts&hellip;</a></h3>
  <h1>Recent <span class="underline">projects</span></h1>
  <ul id="projects">
    $projects$
  </ul>
  <h3><a href="/projects.html">See all projects&hellip;</a></h3>
  <h2><span class="amp_sep">&amp;</span>Tags</h2>
  <div id="tagcloud">
    $tagcloud$
  </div>
  <h3><a href="/pages.html">See all posts & projects&hellip;</a></h3>
</div>
