<article>
  <header>
    <p class="meta"><time class="timeago" datetime="$date$" pubdate>$date$</time>, tagged $prettytags$.</p>
    <h1>$title$</h1>
    </header>
  <section>
    $body$
  </section>
  <section id="comment">
    <p>Want to contact me about this post? You can reach me at
    <a href="mailto: &#112;&#101;&#116;&#97;&#114;&#64;&#119;&#117;&#110;&#107;&#105;&#46;&#111;&#114;&#103;" title"Send me an email">&#112;&#101;&#116;&#97;&#114;&#64;&#119;&#117;&#110;&#107;&#105;&#46;&#111;&#114;&#103;</a>
    or <a href="http://twitter.com/#!/wunki" title="Send me a tweet">@wunki</a>.</p>
  </section>
</article>
