<article>
  <header>
    <p class="meta"><time class="timeago" datetime="$date$" pubdate>$date$</time>, tagged $prettytags$.</p>
    <h1>$title$</h1>
    </header>
  <section>
    $body$
  </section>
  <section id="comment">
    <p>Did you want to comment on this post? Please do so by sending an e-mail
    to <a href="mailto: &#112;&#101;&#116;&#97;&#114;&#64;&#119;&#117;&#110;&#107;&#105;&#46;&#111;&#114;&#103;" title"Send me an email">&#112;&#101;&#116;&#97;&#114;&#64;&#119;&#117;&#110;&#107;&#105;&#46;&#111;&#114;&#103;</a>
    or a tweet to <a href="http://twitter.com/#!/wunki" title="Send me a tweet">@wunki</a>. Would be honored to meet you.</p>
  </section>
</article>
